config/fish
vim/bundle/
tmux/plugins/
tmux/resurrect/
vim/vim
vim/session
irssi/sasl.auth
irssi/irssi
rvm
rvm/patches
rvm/patchsets
rvm/repos
rvm/rubies
rvm/src
rvm/user
rvm/wrappers
**/.DS_Store
zshrc.local
